connexion==2.14.2
fabric-comanage-api
fabric_fss_utils
Flask-Migrate
Flask-SQLAlchemy
psycopg2-binary
PyJWT
python-dateutil # alembic[tz]
python-dotenv
pytz
sqlalchemy-stubs
swagger-ui-bundle==0.0.9 # connexion[swagger-ui]
uWSGI
validators
