connexion
fabric-comanage-api
fabric-fss-utils
flask-migrate
flask-sqlalchemy
psycopg2-binary
pyjwt
python-dateutil # alembic[tz]
python-dotenv
pytz
sqlalchemy-stubs
swagger-ui-bundle # connexion[swagger-ui]
uwsgi
validators

